<?xml version="1.0"?>

<PropertyList>

 <menu>
  <submenu>
   <name>strings/file</name>
   <option>
    <name>strings/save-flight</name>
    <call>saveFlight</call>
   </option>
   <option>
    <name>strings/load-flight</name>
    <call>loadFlight</call>
   </option>
   <option>
    <name>strings/reset</name>
    <call>reInit</call>
    </option>
   <option>
    <seperator/>
   </option>
   <option>
    <name>strings/hi-res-snap-shot</name>
    <call>dumpHiResSnapShot</call>
   </option>
   <option>
    <name>strings/snap-shot</name>
    <call>dumpSnapShot</call>
   </option>
   <option>
    <name>strings/print</name>
    <call>printScreen</call>
   </option>
   <option>
    <name>strings/exit</name>
    <call>MayBeGoodBye</call>
   </option>
  </submenu>
 
  <submenu>
   <name>strings/view</name>
   <option>
    <name>strings/toggle-panel</name>
    <call>guiTogglePanel</call>
   </option>
   <option>
    <name>strings/pilot-offset</name>
    <call>PilotOffsetAdjust</call>
   </option>
   <option>
    <name>strings/hud-alpha</name>
    <call>fgHUDalphaAdjust</call>
   </option>
   <option>
    <name>strings/properties</name>
    <call>prop_pickerView</call>
   </option>
  </submenu>
 
  <submenu>
   <name>strings/presets</name>
   <option>
    <name>strings/preset-airport</name>
    <call>fgPresetAirport</call>
   </option>
   <option>
    <name>strings/preset-runway</name>
    <call>fgPresetRunway</call>
   </option>
   <option>
    <name>strings/preset-offset-distance</name>
    <call>fgPresetOffsetDistance</call>
   </option>
   <option>
    <name>strings/preset-altitude</name>
    <call>fgPresetAltitude</call>
   </option>
   <option>
    <name>strings/preset-glideslope</name>
    <call>fgPresetGlideslope</call>
   </option>
   <option>
    <name>strings/preset-airspeed</name>
    <call>fgPresetAirspeed</call>
   </option>
   <option>
    <seperator/>
   </option>
   <option>
    <name>strings/preset-commit</name>
    <call>fgPresetCommit</call>
   </option>
 </submenu>

<!--
  <submenu>
   <name>Network</name>
   <option>
    <name>Toggle Display</name>
    <call>net_display_toggle</call>
   </option>
   <option>
    <name>Enter Callsign</name>
    <call>NewCallSign</call>
   </option>
   <option>
    <name>Scan for Deamons</name>
    <call>net_fgd_scan</call>
   </option>
   <option>
    <name>Register to FGD</name>
    <call>net_register</call>
   </option>
   <option>
    <name>Unregister from FGD</name>
    <call>net_unregister</call>
   </option>
  </submenu>
-->
 
  <submenu>
   <name>strings/autopilot</name>
   <option>
    <name>strings/set-heading</name>
    <call>NewHeading</call>
   </option>
   <option>
    <name>strings/set-altitude</name>
    <call>NewAltitude</call>
   </option>
   <option>
    <seperator/>
   </option>
   <option>
    <name>strings/add-waypoint</name>
    <call>AddWayPoint</call>
   </option>
   <option>
    <name>strings/skip-current-waypoint</name>
    <call>PopWayPoint</call>
   </option>
   <option>
    <name>strings/clear-route</name>
    <call>ClearRoute</call>
   </option>
   <option>
    <seperator/>
   </option>
   <option>
    <name>strings/adjust-ap-settings</name>
    <call>fgAPAdjust</call>
   </option>
   <option>
    <name>strings/toggle-hud-format</name>
    <call>fgLatLonFormatToggle</call>
   </option>
  </submenu>

  <submenu>
   <name>strings/help</name>
   <option>
    <name>strings/help</name>
    <call>helpCb</call>
   </option>
  </submenu>
 </menu>

</PropertyList>
